In [13]:
## Connect to SqLite Database
import sqlite3
connection = sqlite3.connect('example.db')
connection

In [14]:
cursor = connection.cursor()

In [15]:
##Create a Table
cursor.execute('''
Create Table If Not Exists employees(
      id Integer Primary key,
      name Text Not Null,
      age Integer,
      department text
      )               
''')

## Commit The Changes
connection.commit()

In [16]:
cursor.execute('''
  Select * from employees               
               
''')

In [17]:
##Insert The Data In Sqlite3
cursor.execute('''
  Insert  INTO employees(name,age,department)
  values('vijai',21,'Data Scientist')         
              
''')

cursor.execute('''
Insert OR IGNORE INTO employees(name,age,department) 
Values('Rohit',45,'Engineer')
               
''')

cursor.execute('''
      INSERT OR IGNORE INTO employees(name,age,department)         
      VALUES('Kohli',18,'Cricket')
      ''')

## Commit changes after CRUD operations
connection.commit()

In [18]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 'vijai', 21, 'Data Scientist')
(2, 'Rohit', 45, 'Engineer')
(3, 'Kohli', 18, 'Cricket')

In [ ]:
#DROP TABLE  FOR DELETION 

# cursor.execute('Drop TABLE IF EXISTS employees')
# cursor.commit()

In [19]:
#Update the data in the table
cursor.execute('''
UPDATE employees
Set age=261
WHERE name="Kohli"               
''')
connection.commit()

In [20]:
## Delete the data from the table 
cursor.execute('''
Delete from employees
where name = 'Rohit'               
''')
connection.commit()

In [ ]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
  print(row)

(1, 'vijai', 21, 'Data Scientist')
(3, 'Kohli', 261, 'Cricket')

In [24]:
## PROJECT ON SALES DATA WITH SQLITE3
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# CREATE A TABLE FOR SALES DATA
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
  id INTEGER PRIMARY KEY,
  date TEXT NOT NULL,
  product TEXT NOT NULL,
  sales INTEGER,
  region TEXT
)               

''')

## INSERT DATA INTO SALES TABLE

sales_data = [
  ('2023-01-01','PRODUCT1',100,'NORTH'),
  ('2024-01-01','PRODUCT2',100,'NORTH'),
  ('2023-01-03','PRODUCT1',150,'NORTH'),
  ('2024-01-03','PRODUCT2',200,'NORTH'),
  ('2025-02-01','PRODUCT3',300,'NORTH')
]

cursor.executemany('''
                INSERT INTO sales(date,product,sales,region) 
                values(?,?,?,?)
                  ''',sales_data)

connection.commit()

In [25]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, '2023-01-01', 'PRODUCT1', 100, 'NORTH')
(2, '2024-01-01', 'PRODUCT2', 100, 'NORTH')
(3, '2023-01-03', 'PRODUCT1', 150, 'NORTH')
(4, '2024-01-03', 'PRODUCT2', 200, 'NORTH')
(5, '2025-02-01', 'PRODUCT3', 300, 'NORTH')

In [26]:
## CLOSE THE CONNECTION
connection.close()

In [27]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()
for row in rows:
  print(row)

ProgrammingError: Cannot operate on a closed database.